
<div class="container" style="width: 30%;" >
  <h2>Registration Form</h2>
  <form [formGroup]="registrationForm">
    <!-- {{registrationForm.value |json}} -->
    <div class="form-group my-2">
      <label>Name:</label>
      <input formControlName="Name" type="text" class="form-control">
    </div>
    <div class="form-group my-2">
      <label>Username:</label>
      <input formControlName="userName" type="text" class="form-control">
    </div>
    <div class="form-group my-2">
      <label>Email:</label>
      <input formControlName="email" type="email" class="form-control">
    </div>
    <div class="form-group my-2">
      <label>Phone:</label>
      <input formControlName="phone" type="number" class="form-control">
    </div>
    <div class="form-group my-2" >
      <label  >Gender: </label> <br>
      <div class="form-control">
         <input type="radio"  formControlName="gender" value="male" > Male
         <input type="radio"  formControlName="gender" value="female" > Female
      </div>
    </div>
    <div class="form-group my-2">
      <label for="birthday">Date of Birth: </label>
      <input type="date" class="form-control" id="birthday" formControlName="birthday">
    </div>
    <div class="form-group my-2">
      <label>Password:</label>
      <input formControlName="password" type="Password" class="form-control">
    </div>
    <div class="form-group my-2">
      <label>Confirm Password:</label>
      <input formControlName="confirmPassword" type="Password" class="form-control">
    </div>

    <button class="btn btn-primary" type="submit">Register</button>
  </form>
</div>
<router-outlet></router-outlet>
